Checks: "
  -*,

  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,

  cert-*,

  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-macro-usage,

  google-*,

  misc-*,
  -misc-no-recursion,

  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,

  performance-*,
  portability-*,

  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,

  *-cloexec-*,
"
CheckOptions:
- key:    'cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor'
  value:  'true'
WarningsAsErrors: '*'
FormatStyle: file
