BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  SplitEmptyRecord: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlignAfterOpenBracket: DontAlign
ForEachMacros: ['wl_list_for_each', 'wl_list_for_each_safe', 'wl_list_for_each_reverse']
