name: Formatting Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  clang-foramt-check:
    name: ClangFormat Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: ClangFormat Check
        run: find . -regex ".*\.\(c\|h\|cc\)" | xargs clang-format --dry-run -Werror
